.container {
  padding: 20px;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #f7f7f7;
}

h2 {
  text-align: center;
}

.add-button {
  margin-bottom: 15px;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.employee-form {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}

.employee-form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.submit-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.employee-table th,
.employee-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.update-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
 margin: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

